<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter App</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
</head>

<body>

    <div class="container-fluid">
        <h1>Twitter Bot</h1>
        <form method="post" action="/result">
            <div class="usrname">
                <h3>What is your name fellow user?</h3>
                <input type="text" name="name" placeholder="Name" required>
            </div>
            <h3 id="question">What do you want to do on twitter</h3>
            <select id="option" name="option">
              <option value="tweet" selected='selected'>Please choose an option</option>
              <option value="tweet">Tweet</option>
              <option value="follower">Check for the Number of followers</option>
              <option value="retweetTimer">Retweet Timer</option>
              <option value="dm">Direct Message</option>
            </select>
            <br>
            <div class="tweetText">
                <h3> What do you want to tweet?</h3>
                <input type="text" name="tweetStr" placeholder="Say Something!...">
            </div>
            <div class="followerCheck">
                <h3>Which account do you want to check for number of followers?</h3>
                <input type="text" name="followerCount" placeholder="@example123...">
            </div>
            <div class="timer">
                <h3>How often do you want to retweet? (Hours)</h3>
                <input type="text" name="time" placeholder="Number 1-12">
                <h3> What would you like to search for?</h3>
                <input type="text" name="search" placeholder="Topic, Emotion, etc...">
            </div>
            <div class="directMessage">
                <h3>Direct message yourself in order to see the result</h3>
                <p><strong>Make sure you follow @Anonymo37841143 in order to see the direct message</strong></p>    
                <input type="text" name="account" placeholder="@<your username>">
                <h3>What would you like to send?</h3>
                <input type="text" name="message" placeholder="Message...">
            </div>
            <br>
  <input type="submit" value= "Next" class= "btn btn-warning btn-lg" >
        </form>
    </div>

</body>

</html>
